<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台发送邮件</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/reconnecting-websocket.min.js"></script>
    <script src="/static/js/layer/layer.min.js"></script>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 col-md-offfset-2'>
                <form id='EmailForm'>
                    <div class='form-group'>
                        <label for='emails'>邮件</label>
                        <textarea name="emails" id="emails" rows="5" placeholder="输入发送的邮件地址，以分号隔开." class='form-control'></textarea>
                    </div>
                    <div class='form-group'>
                        <label for='subject'>主题</label>
                        <input name="subject" id="subject" placeholder="输入发送的邮件主题." class='form-control'>
                    </div>
                    <div class='form-group'>
                        <label for='content'>内容</label>
                        <textarea name="content" id="content" rows="10" placeholder="输入邮件的内容." class='form-control'></textarea>
                    </div>
                    <div class='form-group text-center'>
                        <button type="button" class='btn btn-primary' id='send'>发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
         
            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        function escape(html){
            html = html.replace(/\+/g," ");
            html = decodeURIComponent(html);
            return html
        }
        function conveterParamsToJson(paramsAndValues) {  
            var jsonObj = {};
            var param = paramsAndValues.split("&");  
            for ( var i = 0; param != null && i < param.length; i++) {  
                var para = param[i].split("=");  
                jsonObj[para[0]] = escape(para[1]);  
            }
            return jsonObj;
        }
        $(function(){
            var schema = window.location.protocol=='https:' ? 'wss:' : 'ws:';
            var host =  window.location.host;
            socket = new ReconnectingWebSocket(schema+"//"+ host+"/email/");
            socket.onmessage = function(e){
                var msg = JSON.parse(e.data);
                if (msg.ret==-1){
                    layer.msg(msg.message,{time:2000,icon:-1});
                }
                else if(msg.ret==0){
                    layer.msg('发送成功',{time:2000});
                }
                $('#send').attr('disabled',false);
            }
            socket.onopen = function() {
                
            }
            socket.onclose = function(){
                console.log('disconnected');
            }
            $('#send').click(function(){
                // $.ajax({
                //     url:'/email/',
                //     type:'post',
                //     data:$('#EmailForm').serialize(),
                //     success:function(msg){
                //         if (msg.ret==0){
                //             layer.msg(msg.message,{time:2000});
                //         }
                //     }
                // });
                var data = $('#EmailForm').serialize();
                var jsonObj = conveterParamsToJson(data);
                socket.send(JSON.stringify(jsonObj));
                $('#send').attr('disabled',true);
            });
        });
    </script>
</body>
</html>